---
- name: create compose directory
  ansible.builtin.file:
    path: "{{ bambuddy_compose_dir }}"
    state: directory
    mode: "0755"
  register: compose_dir

- name: write compose file
  ansible.builtin.template:
    src: templates/docker-compose.yml.j2
    dest: "{{ [bambuddy_compose_dir, 'docker-compose.yml'] | path_join }}"
    owner: root
    group: root
    mode: "0644"
  register: compose_file

- name: stop compose service
  community.docker.docker_compose_v2:
    project_src: "{{ bambuddy_compose_dir }}"
    remove_orphans: true
    state: stopped
    timeout: 11
  when: compose_file.changed and not compose_dir.changed

- name: start compose service
  community.docker.docker_compose_v2:
    project_src: "{{ bambuddy_compose_dir }}"
    remove_orphans: true
    pull: "{{ bambuddy_auto_upgrade | ternary('always', 'missing') }}"
    state: present
    wait: true
    wait_timeout: 10
  register: compose_start

- name: wait for bambuddy to be reachable
  ansible.builtin.wait_for:
    host: "{{ ansible_host }}"
    port: "{{ bambuddy_port }}"
    timeout: 30
    connect_timeout: 2
    sleep: 2
    delay: 10
  when: compose_start.changed
