---
- name: install iptables-persistent
  ansible.builtin.apt:
    name: iptables-persistent
    state: present
  register: install_iptp
  when: ansible_os_family == "Debian"

- name: create compose directory
  ansible.builtin.file:
    path: "{{ bambuddy_compose_dir }}"
    state: directory
    mode: "0755"
  register: compose_dir

- name: write compose file
  ansible.builtin.template:
    src: templates/docker-compose.yml.j2
    dest: "{{ [bambuddy_compose_dir, 'docker-compose.yml'] | path_join }}"
    owner: root
    group: root
    mode: "0644"
  register: compose_file

- name: stop compose service
  community.docker.docker_compose_v2:
    project_src: "{{ bambuddy_compose_dir }}"
    remove_orphans: true
    state: stopped
    timeout: 11
  when: compose_file.changed and not compose_dir.changed

- name: start compose service
  community.docker.docker_compose_v2:
    project_src: "{{ bambuddy_compose_dir }}"
    remove_orphans: true
    pull: "{{ bambuddy_auto_upgrade | ternary('always', 'missing') }}"
    state: present
    wait: true
    wait_timeout: 10
  register: compose_start

- name: iptables add forward port 990 to 9990
  ansible.builtin.iptables:
    table: nat
    chain: PREROUTING
    protocol: tcp
    destination_port: 990
    jump: REDIRECT
    to_ports: 9990
    comment: Required for BamBuddy virtual_printer FTPS communication
  when: bambuddy_compose_dir is defined and ansible_os_family == "Debian"
  register: ipt_forward

- name: iptables add output redirect port 990 to 9990
  ansible.builtin.iptables:
    table: nat
    chain: OUTPUT
    out_interface: lo
    protocol: tcp
    destination_port: 990
    jump: REDIRECT
    to_ports: 9990
    comment: Required for BamBuddy virtual_printer FTPS communication
  when: bambuddy_compose_dir is defined and ansible_os_family == "Debian"
  register: ipt_output

- name: persist iptables
  ansible.builtin.shell: "netfilter-persistent save"
  when: ipt_forward.changed or ipt_forward.changed or install_iptp.changed

- name: wait for bambuddy to be reachable
  ansible.builtin.wait_for:
    host: "{{ ansible_host }}"
    port: "{{ bambuddy_port }}"
    timeout: 30
    connect_timeout: 2
    sleep: 2
    delay: 10
  when: compose_start.changed

- name: execute API setup
  nils_ost.bambuddy.setup:
    host: "{{ ansible_host }}"
    port: "{{ bambuddy_port }}"
    user: "{{ bambuddy_user | default(omit) }}"
    password: "{{ bambuddy_user_password | default(omit) }}"
  delegate_to: localhost
