---
- name: Configure virtual printer
  nils_ost.bambuddy.virtual_printer:
    url: "{{ bambuddy.url }}"
    token: "{{ bambuddy.token }}"
    enabled: "{{ bambuddy_virtual_printer.enabled | default(omit) }}"
    accesscode: "{{ bambuddy_virtual_printer.accesscode | default(omit) }}"
    model: "{{ bambuddy_virtual_printer.model | default(omit) }}"
    mode: "{{ bambuddy_virtual_printer.mode | default(omit) }}"
  delegate_to: localhost
  register: virtual_printer_config

- name: Extract Virtual_printer certificate content
  ansible.builtin.slurp:
    src: "{{ [bambuddy_compose_dir, 'virtual_printer/certs/bbl_ca.crt'] | path_join }}"
  register: virtual_printer_cert
  when: bambuddy_compose_dir is defined and (bambuddy_virtual_printer.enabled | default(false))

- name: Remember user to inject certificate
  ansible.builtin.pause:
    prompt:
      "\n\nRemember to append the following certificate to your slicer configuration.\n\
      Detailed information can be found here:\n\
      https://wiki.bambuddy.cool/features/virtual-printer/#step-2-append-the-bambuddy-ca-certificate-to-slicer\n\n\n\
      {{ virtual_printer_cert.content | b64decode }}\n\n"
    seconds: "{{ virtual_printer_config.changed | ternary(5, 1) }}"
  when: virtual_printer_cert.content is defined
